@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    height: 100vh;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
  
#excuse {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
}
